@use '@sass/abstracts/colors';

$themes: (
  light: (
    'background-color': colors.$clr-100,
    'color': colors.$clr-700,
    'preview-heading': colors.$clr-700,
    'preview-body': colors.$clr-500,
    'heading': colors.$clr-100,
    'heading-body': colors.$clr-500
  ),
  dark: (
    'background-color': colors.$clr-1000,
    'color': colors.$clr-400,
    'preview-heading-color': colors.$clr-100,
    'preview-body': colors.$clr-400,
    'heading': colors.$clr-100,
    'heading-body': colors.$clr-500
  )
);
