@use '@sass/abstracts/colors';
@use '@sass/base/typography';

$outline: 2px;
$burger-menu-button-size: 7.2rem;

.button--primary {
  @extend .text-heading-M;
  background-color: colors.$clr-orange;
  color: colors.$clr-100;
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 1rem 4rem;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: colors.$clr-orange-hover;
  }

  &:focus {
    outline: $outline solid colors.$clr-blue;
    outline-offset: $outline;
  }
}

.button--burger {
  background-image: url('@/assets/images/lines.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2.4rem;
  background-color: colors.$clr-800;
  outline: none;
  border: none;
  width: $burger-menu-button-size;
  height: $burger-menu-button-size;
  cursor: pointer;
  transition: background-image 0.2s ease;

  &:focus {
    outline: $outline solid colors.$clr-blue;
    outline-offset: -$outline;
  }

  &.open {
    background-image: url('@/assets/images/cross.svg');
  }
}

.button--delete {
  background-image: url('@/assets/images/delete.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 2rem;
  height: 2rem;
  width: 1.8rem;
  outline: none;
  border: none;
  cursor: pointer;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }

  &:focus {
    outline: $outline solid colors.$clr-blue;
    outline-offset: -$outline;
  }
}
