@use '@sass/abstracts/colors';

$sidebar-width: 27rem;

.Sidebar {
  background-color: colors.$clr-900;
  padding: 0 2.4rem;
  height: 100vh;
  width: $sidebar-width;
  margin-left: 0;
  transition: margin 0.8s;
  overflow: auto;
}

.Sidebar {
  &.hidden {
    margin-left: -$sidebar-width;
  }
}

.Sidebar__header {
  height: 7.2rem;
  display: flex;
  align-items: center;
}
