@use '@sass/abstracts/colors';

$sidebar-width: 25rem;

.Sidebar {
  background-color: colors.$clr-900;
  padding: 0 2.4rem;
  height: 100vh;
  width: $sidebar-width;
  margin-left: 0;
  transition: margin 0.5s linear;
  overflow: auto;

  &.hidden {
    margin-left: -$sidebar-width;
  }
}

.Sidebar__header {
  height: 7.2rem;
  display: flex;
  align-items: center;
}

.Sidebar__footer {
  position: absolute;
  bottom: 2.4rem;
}
